body {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 50px 50px 50px;
    color: #333;
}

code {
    display: inline-block;
    font-size: 1.25em;
    font-family: monospace;
}

h1,
h2,
h3 {
    font-family: cursive;
    color: #000;
    line-height: 20px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

a {
    font-style: italic;
    color: #336699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {}

pre {
    font-size: 4px;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    margin: 40px;
}

.CodeMirror,
.CodeMirror .cm-s-default {
    height: auto !important;
    font-size: 14px
}