body {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 50px 50px 50px;
    color: #333;
    background-color: #fefefe;
}

code {
    display: block;
    font-family: monospace;
}

pre {
    font-size: 16px;
}

ul.exercises li {
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-family: cursive;
    color: #000;
    line-height: 20px;
    margin-left: -20px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

hr {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.title {
    font-family: cursive;
    text-align: center;
    color: #8D8D8D;
    font-size: 45px;
    margin-bottom: 80px;
}

a {
    color: #336699;
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
    transition: .25s ease-in;
}

a:hover {
    color: #000;
    transition: .25s ease-in;
}

.advanced {
    border: 1px solid #888;
    background-color: #efefef;
    font-size: 18px;
    padding: 20px;
}

.icon {
    width: 20px;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    margin: 40px;
}

.CodeMirror,
.CodeMirror .cm-s-default {
    height: auto !important;
    font-size: 14px;
    border: 1px solid #aaa;
}