/*
*/
#warn {
    background-color: #e3ea6b;
    box-shadow: 0 0 16px 2px #000;
    color: #000;
    display: block;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    transition: all ease 0.5s;
    padding: 8px;
    width: 100%;
}